*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

body{
    background: linear-gradient(0deg, rgb(232, 79, 252), rgb(249, 181, 255), rgb(251, 211, 255));
}

header{
    /* background-color: rgb(137, 243, 202); */
    /* text-align: center; */
    padding: 1%;
}

header h1{
    font-size: 50px;
    text-align: center;
}

body{
    /* display: flex; */
    /* flex-wrap: wrap;
    flex-flow: column; */
}

nav ul{
    text-align: right;
}

nav ul li{
    /* text-align: center; */
    display: inline-block;
    margin-left: 25px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: x-large;
}

.headings{
    font-size: 30px;
}

.firstProject{
    /* background-color: aliceblue; */
}

.firstProject h3{
    text-align: center;
    font-size: x-large;
}

.firstProject article{
    border: 1px solid pink;
    border-radius: 10px;
    /* padding: 0%; */
    /* width: 300px; */
    /* background-color: rgb(176, 250, 222); */
}

.firstProject img{
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    margin: 5%;
}

.project{
    /* background-color: antiquewhite; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project article{
    border: 1px solid pink;
    border-radius: 10px;
    /* padding: 0%; */
    /* width: 300px; */
    /* background-color: rgb(176, 250, 222); */
    
}

.project h3{
    text-align: center;
}

.project img{
    width: 250px;
    height: 166px;
    /* padding: 10%; */
    /* border: 1px solid pink; */
    border-radius: 10px;
    margin: 25px;
    /* display: flex; */
    
}

@media screen and (max-width: 992px) {
    body{
        /* width: 1vw; */
        background-color: blue; /*testing*/
    }
    /* article{
        width:33%;
    } */
}

@media screen and (max-width: 768px) {
    body{
        /* width: 1vw; */
        background-color: blueviolet; /*testing*/
    }
}

@media screen and (max-width: 576px) {
    body{
        /* width: 1vw; */
        background-color: brown; /*testing*/
    }
}