*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

header{
    background-color: rgb(255, 169, 169);
    text-align: center;
    padding: 1%;
}

nav{
    text-align: center;
    display: inline-block;
}

ul{
    list-style-type: none;
}

.project{
    background-color: antiquewhite;
}

.project article{
    border: 1px solid pink;
    border-radius: 10px;
    /* padding: 0%; */
    width: 300px;
    background-color: cadetblue;
}

.project h3{
    text-align: center;
}

img{
    width: 250px;
    /* padding: 10%; */
    /* border: 1px solid pink; */
    border-radius: 10px;
    margin: 25px;
}